@media (min-width:320px) and (max-width:544px){


.navigation-bar{
  width:400px;
  height:60px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.img-box{
    display: flex;
    flex-direction: column;
    background-color: #F5005B;
    width:100px;
    height: 120px;
    justify-content: center;
    float:left;
    }

.img-box img{
  background-size:contain;
  background-repeat: no-repeat;
  align-self: center;
  padding:10px 10px 10px 10px;
}
.nav-bar {
    display: flex;
    flex-direction:column;
    background-color: #7DDFE8;
}

.home{
    display: flex;
    flex-direction: column;
    background-color: #00A5BF;
    width:300px;
    height:40px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.calendar{
    display:flex;
    flex-direction: column;
    background-color:#00B7D3;
    width:300px;
    height:60px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.join{
    display: flex;
    flex-direction: column;
    background-color:#00D5E7;
    width:300px;
    height:60px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.join-film-club{
  font-family:'PT Sans',sans-serif;
  font-size: 18px;
}

.sign-up{
    border: none;
    display: flex;
    flex-direction: column;

}

.profile{
  display: flex;
  flex-direction: column;
}

.input-boxes{
    display: flex;
    flex-flow: column wrap;
    width: 400px;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;
}

.profilepic{
    display:flex;
    flex-direction: column;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;
}

.profileimg{
    display: flex;
    flex-direction: column;
}

.profileimg img{
    border-radius:150px 150px 150px 150px;
}

.username{
    display: flex;
    flex-direction:column;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;

}

.email{
    display: flex;
    flex-direction:column;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;

}

.password{
    display: flex;
    flex-direction:column;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;
}

.confirm_password{
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;

}

.genre{
    border: none;
}

.interests{
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;
    font-size: 16px;
}

.checkboxes{
  width:150px;
  display: flex;
  flex-direction: column;
}

 .label{
   font-family: 'PT Sans',sans-serif;
   color:#0B1942;
   font-size: 12px;
   float: right;
}


}

#add-input {
   display: flex;
   flex-direction: column;
   font-size:24px;
}

.add-input-label{
font-family: 'PT Sans',sans-serif;
color:#0B1942;
font-size: 12px;
}

#sign-up-button {
   font-family: 'PT Sans',sans-serif;
   background-color:#F5005B;
   color:white;
   font-size: 12px;
   width: 150px;
   height: 50px;
   margin-top: 20px;
}


.nav-footer{
  display: flex;
  flex-direction: column;
}

.home-footer{
    display: flex;
    flex-direction: column;
    background-color: #00A5BF;
    width:400px;
    height:40px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.calendar-footer{
    display:flex;
    flex-direction: column;
    background-color:#00B7D3;
    width:400px;
    height:40px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.join-footer{
    display: flex;
    flex-direction: column;
    background-color:#00D5E7;
    width:400px;
    height:40px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.footer-text-box{
  display: flex;
  flex-direction: column;
  background-color:#7DDFE8;
  width:420px;
  height:50px;

}

.footer-text{
    display: flex;
    flex-direction: column;
    font-family:'PT Sans',sans-serif;
    color:white;
    justify-content: center;
    align-self: center;
}
}
/*******Medium Devices*****************/
@media (min-width:545px) and (max-width:768px){
.navigation-bar{
  width:100%;
  height:100px;
}
.img-box{
    background-color: #F5005B;
    width:80px;
    height: 100px;
    justify-content: center;
    float:left;
    }

.img-box img{
  background-size:contain;
  background-repeat: no-repeat;
  padding:10px 10px 10px 10px;
}
.nav-bar {
    display: flex;
    flex-flow: row wrap;
    background-color: #7DDFE8;
}


.home{
    display: flex;
    flex-direction: column;
    background-color: #00A5BF;
    width:80px;
    height:60px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.calendar{
    display:flex;
    flex-direction: column;
    background-color:#00B7D3;
    width:80px;
    height:60px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.join{
    display: flex;
    flex-direction: column;
    background-color:#00D5E7;
    width:80px;
    height:60px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.sign-up{
    border: none;
}

.input-boxes{
    display: flex;
    flex-direction: : column;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;
}

.profilepic{
    display:flex;
    flex-direction: column;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;
}

.username{
    display: flex;
    flex-direction:column;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;
    padding-right: 20px;
    padding-left:100px;
}

.email{
    display: flex;
    flex-direction:column;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;
    padding-left: 333px;
    padding-right: 59px;
}

.password{
    display: flex;
    flex-direction: : column;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;
    padding-right: 200px;
    padding-left: 40px;
}

.confirm_password{
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;
    padding-right:100px;
}

.profileimg{
    display: flex;
    flex-direction: column;
}

.profileimg img{
    border-radius:150px 150px 150px 150px;
}
.genre{
    border: none;
}

.interests{
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;
    font-size: 18px;
}

.checkboxes{
  width:800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

 .label{
   font-family: 'PT Sans',sans-serif;
   color:#0B1942;
   font-size: 18px;
}


/*****Submit Button**********/
#add-input {
   display: flex;
   flex-direction: column;
   font-size:24px;
}

.add-input-label{
font-family: 'PT Sans',sans-serif;
color:#0B1942;
font-size: 20px;
}



#sign-up-button {
   font-family: 'PT Sans',sans-serif;
   background-color:#F5005B;
   color:white;
   font-size: 18px;
   width: 175px;
   height: 50px;
   margin-top: 20px;
}

.nav-footer{
    background-color: #7DDFE8;
    display:flex;
    flex-flow: row wrap;
    width:100%;
    height:100px;
}
.home-footer{
    display: flex;
    flex-direction: column;
    background-color: #00A5BF;
    width:80px;
    height:60px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.calendar-footer{
    display:flex;
    flex-direction: column;
    background-color:#00B7D3;
    width:80px;
    height:60px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.join-footer{
    display: flex;
    flex-direction: column;
    background-color:#00D5E7;
    width:80px;
    height:60px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.footer-text-box{
  display: flex;
  align-content: flex-end;


}

.footer-text{
    display: flex;
    font-family:'PT Sans',sans-serif;
    color:white;
    align-self: center;

}

}



/*********Large Devices***************/
@media (min-width:769px){

.navigation-bar{
  width:100%;
  height:100px;
}
.img-box{
    background-color: #F5005B;
    width:90px;
    height: 100px;
    justify-content: center;
    float:left;
    }

.img-box img{
  background-size:contain;
  background-repeat: no-repeat;
  padding:10px 20px 10px 10px;
}
.nav-bar {
    display: flex;
    flex-flow: row wrap;
    background-color: #7DDFE8;
}


.home{
    display: flex;
    flex-direction: column;
    background-color: #00A5BF;
    width:80px;
    height:60px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.calendar{
    display:flex;
    flex-direction: column;
    background-color:#00B7D3;
    width:80px;
    height:60px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.join{
    display: flex;
    flex-direction: column;
    background-color:#00D5E7;
    width:80px;
    height:60px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.join-film-club{
  font-family:'PT Sans',sans-serif;
  font-size: 30px;
  margin-left: 10px;
}
.sign-up{
    border: none;
}

.profile-items{
    display: flex;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;
}

.profilepic{
    display:flex;
    flex-direction: column;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;
}

.profileimg{
    display: flex;
    flex-direction: column;
    float: left;
}

.profileimg img{
  display: flex;
  align-self: flex-start;
  border-radius:150px 150px 150px 150px;

}
.input-boxes{
    display: flex;
    flex-flow: row wrap;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;
}
.username{
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;
    padding-right: 20px;

}
.email{
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;

}
.password{
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;
    padding-right: 20px;

}

.confirm_password{
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;

}

.genre{
    border: none;
}

.interests{
    font-family: 'PT Sans',sans-serif;
    color:#0B1942;
    font-size: 18px;
}

.checkboxes{
  width:1245px;
  align-content: center;

}

 .label{
   font-family: 'PT Sans',sans-serif;
   color:#0B1942;
   font-size: 18px;
   padding: 0px 325px 40px 0px;


}

/*****Submit Button**********/
#add-input {
   display: flex;
   flex-direction: column;
   font-size:24px;
}

.add-input-label{
font-family: 'PT Sans',sans-serif;
color:#0B1942;
font-size: 20px;
}

#sign-up-button {
   font-family: 'PT Sans',sans-serif;
   background-color:#F5005B;
   color:white;
   font-size: 18px;
   width: 175px;
   height: 50px;
   margin-top: 20px;
}

.nav-footer{
    background-color: #7DDFE8;
    display:flex;
    flex-flow: row wrap;
    width:100%;
    height:100px;
}
.home-footer{
    display: flex;
    flex-direction: column;
    background-color: #00A5BF;
    width:80px;
    height:60px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.calendar-footer{
    display:flex;
    flex-direction: column;
    background-color:#00B7D3;
    width:80px;
    height:60px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.join-footer{
    display: flex;
    flex-direction: column;
    background-color:#00D5E7;
    width:80px;
    height:60px;
    font-family:'PT Sans',sans-serif;
    color:white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding:20px 10px 20px 10px;
}

.footer-text-box{
  display: flex;
  align-content: flex-end;
  margin-left: 540px;

}

.footer-text{
    /*display: flex;*/
    font-family:'PT Sans',sans-serif;
    color:white;
    /*align-self:center;*/
}
}
